body{
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
  background: #f5f5f5;
}
h1, p{
  margin: 0;
  padding: 15px;
  font-size: 17px;
  text-align: center;
}
.list_box{
  max-width: 450px;
  background: #fff;
  margin: 10px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #454545;
  margin: 10px auto;
}
.list_box p {
  background-color: #FFB4B4;
  width: fit-content;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}
.list_box p:hover{
  background-color: #B2A4FF;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.search_box{
  max-width: 450px;
  background: #fff;
  margin: 10px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.3); */
  font-size: 14px;
  color: #454545;
  margin: 0 auto;
}

.search_box input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 0.5px solid #cecece;
  border-radius: 5px;
  outline: none;
}

.search_box input:focus{
  border-color: #000;
  transition: 0.5s;
}

.list_box_info{
  display: flex;
  gap: 10px;
  align-items: center;
}